<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.android.spaceinvadders">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Space Invadders"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.example.android.spaceinvadders.Activities.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.example.android.spaceinvadders.Activities.QuestionActivity"></activity>
        <activity android:name="com.example.android.spaceinvadders.Activities.InstructionActivity"></activity>
        <activity android:name="com.example.android.spaceinvadders.Activities.SecondInstructionActivity"></activity>
        <activity android:name="com.example.android.spaceinvadders.Activities.GameActivity"></activity>
        <activity android:name="com.example.android.spaceinvadders.Activities.GameOverActivity"></activity>
        <activity android:name=".Activities.Activity"></activity>
    </application>

</manifest>